.Toast {  
  width: 200px; 
  height: 50px;  
  border: solid black 1px;  
  border-radius: 10px; 
  display: flex;  
  align-items: center;  
  justify-content: space-between; 
  color: rgb(0, 0, 0);   
  font-weight: bold;  
  padding: 0 auto;
  padding-left: 5px;
}  

.error {  
  background-color: rgba(255, 99, 71, 0.8);   
}  

.success {  
  background-color: rgba(144, 238, 144, 0.8);   
}  

.warning {  
  background-color: rgba(255, 215, 0, 0.8);   
}  

.info {  
  background-color: rgba(30, 144, 255, 0.8);   
}  

.close-button {  
  width: 25px;
  margin: 0 auto;
  padding: 0 auto;

  background: none;  
  border: none;  
  color: white;  
  font-size: 20px;  
}  

