.ViewMain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items:center;
  justify-content: space-between;
  width: 70%;
  background-color: bisque;
  padding: 20px;
  box-sizing: border-box;
}
.MainNameCalendar {
  color: black;
}
.Miu {
  display: flex;
  justify-content: center;
  
}
