.UserView {
  display: flex; /* Используем флекс для размещения блоков в ряд */
  height: 100vh; /* Занимаем всю высоту окна клиента */
  width: 100vw;
  background-color: #de591c; /* Цвет фона для визуализации */
}
